{
  "openapi": "3.1.0",
  "info": {
    "title": "BeeOS Cloud Server API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.cloud.beeos.ai/v1"
    }
  ],
  "security": [
    {
      "ServerAPIKey": []
    }
  ],
  "paths": {
    "/client-sessions": {
      "post": {
        "operationId": "createClientSession",
        "description": "Issue a client token with request-scoped ttl_seconds. The omitted value normalizes to 600 before idempotency comparison; reusing an Idempotency-Key with a different normalized TTL returns 409 idempotency_conflict.",
        "x-beeos-api-id": "CLIENT-API-001",
        "x-application-operation": "IsvServerIdentityApplication.IssueClientSession",
        "x-stage": "M8B",
        "x-idempotency": "required",
        "parameters": [
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExternalUserID"
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientSessionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived client token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/rest/server-openapi.yaml",
        "x-sdk-resource": "identity",
        "x-sdk-method": "createClientSession",
        "x-sdk-activation": "live"
      }
    },
    "/client-sessions/{sessionId}/refresh": {
      "post": {
        "operationId": "refreshClientSession",
        "description": "Rotate the client token with request-scoped ttl_seconds. The omitted value normalizes to 600 before idempotency comparison; reusing an Idempotency-Key with a different normalized TTL returns 409 idempotency_conflict.",
        "x-beeos-api-id": "CLIENT-API-004",
        "x-application-operation": "IsvServerIdentityApplication.RefreshClientSession",
        "x-stage": "M8B",
        "x-idempotency": "required",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExternalUserID"
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "requested_capabilities": {
                    "type": "array",
                    "uniqueItems": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "ttl_seconds": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 1800,
                    "default": 600,
                    "description": "Requested token lifetime in seconds for this issuance. Explicit values outside 60..1800 return 400 invalid_request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rotated JTI with equal or narrower capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientSessionResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/rest/server-openapi.yaml",
        "x-sdk-resource": "identity",
        "x-sdk-method": "refreshClientSession",
        "x-sdk-activation": "live"
      }
    },
    "/client-sessions/{sessionId}": {
      "delete": {
        "operationId": "revokeClientSession",
        "x-beeos-api-id": "CLIENT-API-005",
        "x-application-operation": "IsvServerIdentityApplication.RevokeClientSession",
        "x-stage": "M8B",
        "x-idempotency": "required",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExternalUserID"
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session revoked or already revoked"
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/rest/server-openapi.yaml",
        "x-sdk-resource": "identity",
        "x-sdk-method": "revokeClientSession",
        "x-sdk-activation": "live"
      }
    },
    "/external-users/{externalUserId}": {
      "delete": {
        "operationId": "deleteExternalUser",
        "x-beeos-api-id": "CLIENT-API-002",
        "x-application-operation": "IsvServerIdentityApplication.DeleteExternalUserData",
        "x-stage": "M8B",
        "x-idempotency": "required",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExternalUserID"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Asynchronous deletion accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletionAccepted"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/rest/server-openapi.yaml",
        "x-sdk-resource": "identity",
        "x-sdk-method": "deleteExternalUser",
        "x-sdk-activation": "live"
      }
    },
    "/external-users/{externalUserId}/deletions/{deletionId}": {
      "get": {
        "operationId": "getExternalUserDeletion",
        "x-beeos-api-id": "CLIENT-API-003",
        "x-application-operation": "IsvServerIdentityApplication.GetExternalUserDeletion",
        "x-stage": "M8B",
        "x-idempotency": "forbidden",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExternalUserID"
            }
          },
          {
            "name": "deletionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion progress scoped to the authenticated app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deletion"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/rest/server-openapi.yaml",
        "x-sdk-resource": "identity",
        "x-sdk-method": "getExternalUserDeletion",
        "x-sdk-activation": "live"
      }
    },
    "/providers": {
      "get": {
        "operationId": "listProviders",
        "x-beeos-api-id": "CAT-API-001",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-CAT-API-001",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "capability",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "listProviders",
        "x-sdk-activation": "live"
      }
    },
    "/deploy/regions": {
      "get": {
        "operationId": "listDeployRegions",
        "x-beeos-api-id": "CAT-API-002",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-CAT-API-002",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "available",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy regions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "listRegions",
        "x-sdk-activation": "live"
      }
    },
    "/deploy/models": {
      "get": {
        "operationId": "listDeployModels",
        "x-beeos-api-id": "CAT-API-003",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-CAT-API-003",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "agent_framework",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "listModels",
        "x-sdk-activation": "live"
      }
    },
    "/instance-templates": {
      "get": {
        "operationId": "listInstanceTemplates",
        "x-beeos-api-id": "CAT-API-004",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-CAT-API-004",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000000
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "agent_framework",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTemplatePage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "listInstanceTemplates",
        "x-sdk-activation": "live"
      }
    },
    "/instance-templates/{templateId}": {
      "get": {
        "operationId": "getInstanceTemplate",
        "x-beeos-api-id": "CAT-API-005",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-CAT-API-005",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTemplate"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "getInstanceTemplate",
        "x-sdk-activation": "live"
      }
    },
    "/agent-templates": {
      "get": {
        "operationId": "listAgentTemplates",
        "x-sdk-resource": "catalog",
        "x-sdk-method": "listAgentTemplates",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/agentTemplateCatalogView"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "data",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances": {
      "get": {
        "operationId": "listInstances",
        "x-beeos-api-id": "INST-API-001",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-INST-API-001",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000000
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_framework",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cluster_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant-scoped result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstancePage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "instances",
        "x-sdk-method": "list",
        "x-sdk-activation": "live"
      },
      "post": {
        "operationId": "instanceCreate",
        "x-sdk-resource": "instances",
        "x-sdk-method": "create",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerInstanceInput"
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}": {
      "get": {
        "operationId": "getInstance",
        "x-sdk-resource": "instances",
        "x-sdk-method": "get",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateInstanceMetadata",
        "x-sdk-resource": "instances",
        "x-sdk-method": "update",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RuntimeInstanceSummary"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServerInstanceInput"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteInstance",
        "x-sdk-resource": "instances",
        "x-sdk-method": "delete",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/status": {
      "get": {
        "operationId": "getInstanceStatus",
        "x-sdk-resource": "instances",
        "x-sdk-method": "getStatus",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceStatusResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/start": {
      "post": {
        "operationId": "startInstance",
        "x-sdk-resource": "instances",
        "x-sdk-method": "start",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/stop": {
      "post": {
        "operationId": "stopInstance",
        "x-sdk-resource": "instances",
        "x-sdk-method": "stop",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInstanceResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/restart": {
      "post": {
        "operationId": "restartInstance",
        "x-beeos-api-id": "INST-API-008",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-INST-API-008",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Restart accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceResult"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "runtime",
        "x-sdk-method": "restartInstance",
        "x-sdk-activation": "not-routed"
      }
    },
    "/instances/{instanceId}/logs": {
      "get": {
        "operationId": "getInstanceLogs",
        "x-beeos-api-id": "INST-API-010",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-INST-API-010",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tail",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "follow",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON log page; follow=true is consumed by streamLogs over SSE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceLogPage"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "runtime",
        "x-sdk-method": "getInstanceLogs",
        "x-sdk-activation": "not-routed"
      }
    },
    "/instances/{instanceId}/config": {
      "patch": {
        "operationId": "updateInstanceConfig",
        "x-beeos-api-id": "INST-API-011",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-INST-API-011",
        "security": [
          {
            "serverKey": []
          }
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceConfigPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceSummary"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-sdk-provenance": "App vendored/t06-server.openapi.json",
        "x-sdk-resource": "runtime",
        "x-sdk-method": "updateInstanceConfig",
        "x-sdk-activation": "not-routed"
      }
    },
    "/instances/{instanceId}/upgrade": {
      "post": {
        "operationId": "upgradeInstance",
        "x-sdk-resource": "instances",
        "x-sdk-method": "upgrade",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeUpgradeJob"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_id": {
                    "type": "string"
                  },
                  "image_ref": {
                    "type": "string"
                  },
                  "target_version": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/instances/{instanceId}/upgrades/{jobId}": {
      "get": {
        "operationId": "getInstanceUpgrade",
        "x-sdk-resource": "instances",
        "x-sdk-method": "getUpgrade",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeUpgradeJob"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "operationId": "listAgents",
        "x-beeos-api-id": "AGENT-API-001",
        "x-required-scopes": [
          "agents:read"
        ],
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000000,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "agents",
        "x-sdk-method": "list",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}": {
      "get": {
        "operationId": "getAgent",
        "x-beeos-api-id": "AGENT-API-002",
        "x-required-scopes": [
          "agents:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "agents",
        "x-sdk-method": "get",
        "x-sdk-activation": "live"
      },
      "patch": {
        "operationId": "updateAgent",
        "x-beeos-api-id": "AGENT-API-003",
        "x-required-scopes": [
          "agents:manage"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\"[1-9][0-9]*\"$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentPatch"
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "agents",
        "x-sdk-method": "update",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations": {
      "post": {
        "operationId": "createAgentConversation",
        "x-beeos-api-id": "CONVERSATION-API-001",
        "x-required-scopes": [
          "conversations:write"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Durable conversation created or replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "create",
        "x-sdk-activation": "live"
      },
      "get": {
        "operationId": "listAgentConversations",
        "x-beeos-api-id": "CONVERSATION-API-002",
        "x-required-scopes": [
          "conversations:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorized conversation directory",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "list",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}": {
      "get": {
        "operationId": "getConversation",
        "x-beeos-api-id": "CONVERSATION-API-003",
        "x-required-scopes": [
          "conversations:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorized conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "get",
        "x-sdk-activation": "live"
      },
      "patch": {
        "operationId": "updateConversation",
        "x-beeos-api-id": "CONV-API-004",
        "x-required-scopes": [
          "conversations:write"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\"[1-9][0-9]*\"$"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation renamed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "update",
        "x-sdk-activation": "live"
      },
      "delete": {
        "operationId": "deleteConversation",
        "x-beeos-api-id": "CONV-API-005",
        "x-required-scopes": [
          "conversations:write"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "responses": {
          "204": {
            "description": "Conversation deleted"
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "delete",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}/messages": {
      "post": {
        "operationId": "sendConversationMessage",
        "x-beeos-api-id": "MESSAGE-API-001",
        "x-required-scopes": [
          "messages:write"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Message durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "Stable error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAPIError"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "messages",
        "x-sdk-method": "send",
        "x-sdk-activation": "not-routed"
      },
      "get": {
        "operationId": "listConversationMessages",
        "x-beeos-api-id": "MESSAGE-API-002",
        "x-required-scopes": [
          "messages:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authoritative message history page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagePage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "messages",
        "x-sdk-method": "list",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}/messages/{messageId}": {
      "get": {
        "operationId": "getConversationMessage",
        "x-beeos-api-id": "MESSAGE-API-003",
        "x-required-scopes": [
          "messages:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Authoritative v3 message snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageEnvelopeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "messages",
        "x-sdk-method": "get",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}/cancel": {
      "post": {
        "operationId": "cancelConversation",
        "x-beeos-api-id": "CONV-API-008",
        "x-required-scopes": [
          "conversations:control"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelConversationInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Cancel accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandReceiptResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "cancel",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}/clear": {
      "post": {
        "operationId": "clearConversation",
        "x-beeos-api-id": "CONV-API-009",
        "x-required-scopes": [
          "conversations:control"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "responses": {
          "202": {
            "description": "Clear accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearConversationReceiptResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "clear",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/conversations/{conversationId}/model": {
      "put": {
        "operationId": "setConversationModel",
        "x-beeos-api-id": "CONV-API-010",
        "x-required-scopes": [
          "conversations:control"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\"[1-9][0-9]*\"$"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetConversationModelInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Model change accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandReceiptResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "conversations",
        "x-sdk-method": "setModel",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/tasks": {
      "post": {
        "operationId": "createAgentTask",
        "x-beeos-api-id": "TASK-API-001",
        "x-required-scopes": [
          "tasks:write",
          "agents:invoke"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaskResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "create",
        "x-sdk-activation": "live"
      },
      "get": {
        "operationId": "listAgentTasks",
        "x-beeos-api-id": "TASK-API-002",
        "x-required-scopes": [
          "tasks:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "queued",
                "running",
                "input_required",
                "auth_required",
                "completed",
                "failed",
                "canceled",
                "timeout",
                "rejected"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorized Agent tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskPage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "list",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/tasks/{taskId}": {
      "get": {
        "operationId": "getAgentTask",
        "x-beeos-api-id": "TASK-API-004",
        "x-required-scopes": [
          "tasks:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Authorized Task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "get",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/tasks/{taskId}/messages": {
      "get": {
        "operationId": "listAgentTaskMessages",
        "x-beeos-api-id": "TASK-API-005",
        "x-required-scopes": [
          "tasks:read"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task message history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagePage"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "listMessages",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/tasks/{taskId}/cancel": {
      "post": {
        "operationId": "cancelAgentTask",
        "x-beeos-api-id": "TASK-API-006",
        "x-required-scopes": [
          "tasks:control"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelTaskInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task cancel accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandReceiptResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "cancel",
        "x-sdk-activation": "live"
      }
    },
    "/agents/{agentId}/tasks/{taskId}/continue": {
      "post": {
        "operationId": "continueAgentTask",
        "x-beeos-api-id": "TASK-API-007",
        "x-required-scopes": [
          "tasks:control"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContinueTaskInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task continue accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandReceiptResponse"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "tasks",
        "x-sdk-method": "continueTask",
        "x-sdk-activation": "live"
      }
    },
    "/realtime/sessions": {
      "post": {
        "operationId": "createRealtimeSession",
        "x-beeos-api-id": "REALTIME-API-001",
        "x-required-scopes": [
          "events:subscribe"
        ],
        "parameters": [
          {
            "name": "X-BeeOS-External-User-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "x-sdk-client-option": "externalUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRealtimeSessionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Personal realtime transport session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeSession"
                }
              }
            }
          },
          "default": {
            "description": "Stable error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAPIError"
                }
              }
            }
          }
        },
        "x-sdk-provenance": "App vendored/t07-server.openapi.json",
        "x-sdk-resource": "runtime",
        "x-sdk-method": "createRealtimeSession",
        "x-sdk-activation": "not-routed"
      }
    },
    "/agents/{agentId}/invoke": {
      "post": {
        "operationId": "invokeAgent",
        "x-sdk-resource": "agents",
        "x-sdk-method": "invoke",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInvokeResult"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentInvokeInput"
              }
            }
          }
        }
      }
    },
    "/usage/summary": {
      "get": {
        "operationId": "getUsageSummary",
        "x-sdk-resource": "usage",
        "x-sdk-method": "getSummary",
        "x-sdk-activation": "live",
        "x-sdk-provenance": "services/openapi-gateway/internal/beeoscloud",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month"
              ]
            }
          },
          {
            "name": "external_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerUsageSummary"
                }
              }
            }
          },
          "default": {
            "description": "Cloud Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/usage/history": {
      "get": {
        "operationId": "getUsageHistory",
        "x-beeos-api-id": "USAGE-API-002",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-USAGE-API-002",
        "parameters": [
          {
            "name": "external_user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key-owned App usage history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsagePage"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/t04/server-openapi.json",
        "x-sdk-resource": "usage",
        "x-sdk-method": "getHistory",
        "x-sdk-activation": "not-routed"
      }
    },
    "/usage/limits": {
      "get": {
        "operationId": "getUsageLimits",
        "x-beeos-api-id": "USAGE-API-003",
        "x-beeos-sdk-symbol": "SDK-SERVER-RAW-USAGE-API-003",
        "responses": {
          "200": {
            "description": "Key-owned App effective limits; never includes Wallet, price, or Order",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveLimits"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-sdk-provenance": "openapi/beeos-cloud/t04/server-openapi.json",
        "x-sdk-resource": "usage",
        "x-sdk-method": "getLimits",
        "x-sdk-activation": "not-routed",
        "parameters": []
      }
    },
    "/agents/{agentId}/tasks/{taskId}/webhooks": {
      "post": {
        "operationId": "registerTaskWebhook",
        "tags": [
          "tasks"
        ],
        "summary": "Register a webhook callback for terminal task events.",
        "description": "Subscribes a caller-supplied HTTPS endpoint to receive POST\ncallbacks when the task reaches a terminal state (`completed` /\n`failed` / `canceled` / `timeout` / `rejected`). Idempotent on\n`(task_id, url)` \u2014 re-registering the same URL updates the token.\n\nImplementation note: openapi-gateway is zero-DB; the underlying\nsubscription is stored by A2A Service in its `webhooks` table.\nThe webhook fires regardless of which protocol created the task\n(OpenAPI / A2A / MCP) \u2014 same row, different `protocol_filter`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterTaskWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskWebhookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-sdk-resource": "taskWebhooks",
        "x-sdk-method": "create",
        "x-sdk-activation": "not-routed",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "operationId": "listTaskWebhooks",
        "tags": [
          "tasks"
        ],
        "summary": "List registered webhooks for a task.",
        "responses": {
          "200": {
            "description": "Webhook list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTaskWebhooksResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-sdk-resource": "taskWebhooks",
        "x-sdk-method": "list",
        "x-sdk-activation": "not-routed",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}": {
      "delete": {
        "operationId": "deleteTaskWebhook",
        "tags": [
          "tasks"
        ],
        "summary": "Unsubscribe a webhook.",
        "responses": {
          "204": {
            "description": "Webhook removed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-sdk-resource": "taskWebhooks",
        "x-sdk-method": "delete",
        "x-sdk-activation": "not-routed",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "tags": [
          "tasks"
        ],
        "summary": "List webhook delivery attempts (audit log).",
        "description": "Returns the most recent per-attempt rows for this webhook\nsubscription, newest first. P2-A \u2014 durable delivery audit\nlog + retry queue.\n\nEach row carries the lifecycle status (`pending` /\n`succeeded` / `failed` / `dead_letter`), the most recent\nHTTP status code, the truncated last error, and the\nscheduled time of the next attempt while the row is still\nin-flight. Sensitive fields \u2014 the rendered payload bytes,\nthe optional bearer `token`, and the HMAC `secret` \u2014 are\nNEVER returned.\n\nUse this endpoint when:\n  * a callback didn't arrive and you need to confirm\n    whether BeeOS attempted it (`status=failed` /\n    `dead_letter` with a populated `last_error`);\n  * you're reconciling a missed webhook against\n    `GET /tasks/{id}` and want a definitive audit trail;\n  * you intend to manually replay a dead-lettered row via\n    `POST .../redeliver`.\n",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of delivery rows to return. Clamped to\n[1, 200]; default 50.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of recent delivery attempts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhookDeliveriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-sdk-resource": "taskWebhooks",
        "x-sdk-method": "listDeliveries",
        "x-sdk-activation": "not-routed"
      }
    },
    "/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}/deliveries/{deliveryId}/redeliver": {
      "post": {
        "operationId": "redeliverWebhook",
        "tags": [
          "tasks"
        ],
        "summary": "Manually replay a webhook delivery.",
        "description": "Clones a terminal-failure or dead-lettered delivery row\ninto a fresh `pending` row that the background dispatcher\nwill pick up on its next poll. The original row is\npreserved for audit. The returned `WebhookDeliveryResponse`\nis the new pending row \u2014 poll the delivery list or watch\nthe callback URL itself to observe outcome.\n\nThe source row MUST be in status `failed` or\n`dead_letter`; replaying `pending` or `succeeded` rows\nreturns `409 conflict` with code\n`conflict.invalid_state`. The clone replays the EXACT\npayload bytes the receiver should have seen the first\ntime \u2014 HMAC signatures, headers, body \u2014 so receivers can\ntreat redeliver attempts identically to original\nattempts.\n\nCaveat: each redeliver call enqueues a NEW pending row,\nso repeated clicks produce repeated deliveries. This\nendpoint is for manual rescue, not for caller-side\nretry-on-network-error.\n",
        "responses": {
          "202": {
            "description": "Replay enqueued. Returns the new pending row.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookDeliveryResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "5XX": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-sdk-resource": "taskWebhooks",
        "x-sdk-method": "redeliver",
        "x-sdk-activation": "not-routed",
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
[...]
